.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin: 0 auto;

  &__container {
    display: flex;
    flex-wrap: wrap;
    @include desctop {
      flex-wrap: nowrap;
    }
  }
}

.footer__contacts-wrap {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  @include tablet {
    width: 50%;
    margin-right: auto;
  }
  @include desctop {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }
}
.footer__contacts {
  margin-top: 20px;
  @include desctop {
    margin-right: 70px;
  }
}

.footer__join {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  @include tablet {
    width: 50%;
    margin-left: auto;
    padding-top: 12px;
  }
  @include desctop {
    margin-right: 93px;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__join-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer__icon {
  fill: inherit;
}

.footer__subscribe {
  text-align: center;
  width: 100%;
  @include desctop {
    padding-top: 12px;
    margin-left: auto;
    text-align: left;
  }
}
