.team {
  background-color: var(--second-background-color);
  max-width: 1600px;
  margin: 0 auto;
}

.team__list {
  display: flex;
  margin-left: -30px;
}

.team__item {
  background-color: var(--main-background-color);
  flex-basis: calc((100% - 120px) / 4);
  margin-left: var(--typical-margin);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__desc {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__specialty {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

/* .team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
} */
