.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  @include transition(opacity);
  @include transition(visibility);
}

.modal {
  width: 100%;
  min-height: 609px;
  padding: 40px 15px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 450px) {
    padding: 40px;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    @include transition(transform);
  }

  @include desctop {
    max-width: 528px;
    min-height: 581px;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  padding: 0;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-icon {
  fill: #000000;
  @include transition(fill);

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: var(--accent-color);
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
  @include desctop {
    line-height: 1.15;
  }
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 0;
  left: 12px;
  transform: translateY(-50%);
  @include transition(fill);

  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  @include transition(border-color);

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.modal-checkbox {
  margin-top: 20px;
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include desctop {
    font-size: 14px;
    line-height: 1.71;
  }

  a {
    color: var(--accent-color);
  }

  span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    @include transition;
    @include transition(border-color);

    .modal-input-check:checked + & {
      background-color: var(--accent-color);
      border-color: transparent;
    }
  }
}

.check-icon {
  fill: transparent;
  @include transition(fill);

  .modal-input-check:checked + .modal-check-text & {
    fill: #ffffff;
  }
}

.modal-btn {
  display: block;
  margin: 0 auto;
  @include transition;
  // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
