:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --main-logo-color: #212121;
  --second-logo-color: #ffffff;
  --hero-color: #ffffff;
  --typical-margin: 30px;
}
